@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

* {
  font-family: Montserrat, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.content {
  min-height: 100vh;
}
