.lol footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #3498db;
  color: white;
  padding: 0.5vh;
  display: block;
}
.lol ul,
li {
  list-style: none;
}
.lol li {
  display: inline;
  margin-right: 10vw;
}
