.nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #3498db;

  padding: 1vh;

  padding-left: 5vw;
  padding-right: 5vw;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  transition-duration: 200ms;
}

.nav-brand {
  font-weight: bold;
}
