.assignmentForm input,
select {
  outline: none;
  color: #3498db;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #3498db;
  border-radius: 5px;
  block-size: 100%;
  width: 100%;
  height: 5vh;
  margin: 0.1vh;
  box-sizing: border-box;
}

.assignmentForm input[type="submit"] {
  vertical-align: middle;
  font-size: 18px;
  color: #2ecc71;
  padding: 0.5em 1em;
  transition: all 0.3s ease;
  cursor: pointer;
}

.assignmentForm input[type="submit"]:hover {
  background: #2ecc71;
  color: #fff;
  border-color: #2ecc71;
}

.assignmentForm ::-webkit-input-placeholder {
  color: #3498db;
  font-size: 16px;
}
.assignmenForm :-moz-placeholder {
  opacity: 1;
  color: #3498db;
  font-size: 16px;
}
.assignmenForm ::-moz-placeholder {
  opacity: 1;
  color: #3498db;
  font-size: 16px;
}
.assignmenForm :-ms-input-placeholder {
  color: #3498db;
  font-size: 16px;
}
.assignmenForm ::-ms-input-placeholder {
  color: #3498db;
  font-size: 16px;
}
.assignmentForm ::placeholder {
  color: #3498db;
  font-size: 16px;
}
