@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.dashboardHeadline {
  font-size: 40px;
  color: #3498db;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 5%;
}

.greeting {
  margin: 0;
  margin-bottom: 1vh;
  color: #fff;
}

.row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dashboard {
  margin: 5vw;
  margin-top: 1vh;
  margin-bottom: 3vh;

  background-color: #3498db;
  border-radius: 5px;
  padding: 1.5vh;
}

.container-headline {
  color: black;
  margin: 0;
  display: inline;
}

.dashboard h6 {
  color: #ffffff;
  font-size: 25px;
  margin: 0;
}

.container {
  margin-top: 1vh;
  margin-right: 0.5vh;
  margin-left: 0.5vh;
  padding: 1vh;
  background-color: #fff;
  border-radius: 0.3em;
}

.wrapper {
  display: grid;
  border-radius: 0.3em;
}

.wrapper-today {
  background-color: #e74c3c;
  border-radius: 0.3em;
  margin: 2.5%;
}

.wrapper-tomorrow {
  background-color: #f1c40f;
  border-radius: 0.3em;
  margin: 2.5%;
}

.wrapper-future {
  background-color: #2ecc71;
  border-radius: 0.3em;
  margin: 2.5%;
}

.wrapper h3 {
  margin-left: 4.5%;
}

.subject {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

.text {
  list-style-type: none;
  font-weight: 100;
  font-size: 15px;
}

.white {
  color: white;
}
.TeamText {
  font-family: "Montserrat";
  font-size: 17px;
}
html {
  max-width: 100%;
  overflow-x: hidden;
}
