<html>
<head>

</head>
<body>
<div class="container">
    <div class="jumbotron" style="margin-top: 20px">
        <h1>DWB</h1>
        <h4>Digitales Weißes Brett</h4>
        <span>Wir sind besser als das <a href="https://digitales-schwarzes-brett.de/#dsb" target="kuchen">digitale schwarze brett</a></span>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card" id="something">
                <div class="card-body">
                    <h2>Was ist das?</h2>
                    Klassenweite
                    <ul>
                        <li>
                            Hausaufgabentabelle
                        </li>
                        <li>
                            Terminkalender
                        </li>
                        <li>
                            Stundenplan
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" id="something">
                <div class="card-body">
                    <h2>Warum solltest du das nutzen?</h2>
                    <span>Warum nicht?</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>