<div class="row">
    <div class="col-sm"><%= f.InputTag("Von", {name: "CreationDate", value: currentDate}) %></div>
    <div class="col-sm"><%= f.InputTag("Bis", {name: "DueDate", value: currentDate}) %></div>
    <div class="col-sm"><%= f.InputTag("Autor", {name: "Author"}) %></div>
</div>
<div class="row">
    <div class="col-sm"><%= f.SelectTag("Fach", {name: "Class", options: classes}) %></div>
    <div class="col-sm"><%= f.InputTag("Aufgabe", {name: "Exercise"}) %></div>
</div>
<%= f.TextAreaTag("Information", {rows: 3}) %>
<button class="btn btn-success" role="submit">Schick die Flaschenpost ab!</button>
