<div class="card hw-card">
    <div class="card-body">
        <h2 class="card-title">Stundenplan</h2>
        <table class="table table-striped">
            <thead>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mittwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
            </thead>
            <tbody>
            <%= for (hour) in hours { %>
            <tr>
                <%= for (class) in hour { %>
                <td> <h6 class="badge badge-primary"><%= badgeValues[class] %></h6>   <%= class %></td>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%= partial("items/list.html") %>
<div class="row hw-card">
    <div class="col-sm">
        <div class="jumbotron text-white bg-warning">
            <h2>Untis</h2>
        </div>
    </div>
    <div class="col-sm">
        <div class="jumbotron text-white bg-primary">
            <h2>Infos</h2>
        </div>
    </div>
</div>
<div class="text-center">
    <%= paginator(pagination) %>
</div>
