.main {
  width: 390px;
  height: 550px;
  background: #fff;
  margin: 100px auto;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.logo {
  top: 50px;
  width: 100px;
  height: 100px;
  margin: auto;
  background: #000;
  position: relative;
  border-radius: 100px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  background: #3498db;
  background: -webkit-linear-gradient(to right, #3498db, #3498db);
  background: linear-gradient(to right, #3498db, #3498db);
}

.logo h3 {
  color: #fff;
  font-weight: 200;
  line-height: 100px;
}

.main form {
  top: 100px;
  position: relative;
}

.main form input {
  display: block;
  margin: 10px auto;
}

.main form h4 {
  font-size: 12px;
  margin-top: 2em;
}

.main h4 a {
  color: #3498db;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

.main h4 a:hover {
  color: #3498db;
}

.main input[type="username"],
.main input[type="password"],
.main input[type="text"] {
  width: 60%;
  outline: none;
  border-top: 0;
  color: #3498db;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  padding: 26px;
  font-weight: 300;
  border-bottom: 1px solid #3498db;
}

.main input[type="submit"] {
  color: #fff;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 50px;
  border-radius: 4px;
  transition: 200ms ease-out;
  -webkit-box-shadow: 0 0 10px #3498db;
  box-shadow: 0 0 10px #3498db;
  background: #3498db;
  background: -webkit-linear-gradient(to right, #3498db, #3498db);
  background: linear-gradient(to right, #3498db, #3498db);
}

.main input[type="submit"]:hover {
  width: 9.6875em;
  height: 3.25em;
  box-shadow: 0 0 0.5em #3498db;
}

.fa-user {
  color: #3498db;
  position: absolute;
  top: 1em;
  left: 2.2em;
  font-size: 18pt !important;
  cursor: text;
  transition: 0.2s ease-out;
}

.main .fa-lock {
  color: #3498db;
  position: absolute;
  top: 4.2em;
  left: 2.2em;
  font-size: 18pt !important;
  cursor: text;
  transition: 0.2s ease-out;
}

.main [placeholder]::-webkit-input-placeholder {
  color: #3498db;
  padding-left: 0.5em;
}

.main [placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
  opacity: 0;
}

.main :required {
  font-family: "Montserrat";
}

.pwDiv {
  width: 390px;
  height: 350px;
  background: #fff;
  margin: 100px auto;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.pwDiv h3 {
  margin: 0;
  padding: 1vw;
}

.pwDiv button {
  color: #fff;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1vw;
  border-radius: 4px;
  transition: 200ms ease-out;
  -webkit-box-shadow: 0 0 10px #3498db;
  box-shadow: 0 0 10px #3498db;
  background: #3498db;
  background: -webkit-linear-gradient(to right, #3498db, #3498db);
  background: linear-gradient(to right, #3498db, #3498db);
}
